In [6]:
# Alright lets see what this is all about
import numpy as np
import pandas as pd
import sklearn

In [12]:
#LOAD GIS WATERMAIN AND BREAK DATA
df = pd.read_csv('Kirk_All.csv')
#df.dropna(inplace=True) # Are there any columns where we can deal with NA values?
# Can we use imputation instead?
breaks = pd.read_csv('Kirk_Break_Data.csv')
df['INSTYEAR'] = df['INSTYEAR'].map(lambda x: int((str(x)[-12:-8])), na_action='ignore')
#df = pd.get_dummies(df)
df

,FID,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLP_CLASS,FULL_STRNA,SPEED,FUNC_CLASS
0,0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,2.0,120TH AVE NE,25,MINOR ARTERIAL
1,1,2,FIRE,2.0,2.0,UNK,1992.0,AgC,7000,1.0,122ND LN NE,25,NEIGHBORHOOD ACCESS
2,2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,0.0,124TH AVE NE,35,PRINCIPAL ARTERIAL
3,3,4,FIRE,3.0,6.0,DI,2005.0,Ur,4000,0.0,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL
4,4,5,FIRE,149.0,8.0,AC,1963.0,Ur,7000,6.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41816,41816,3963,DIST,1.0,12.0,DI,1971.0,No,9000,0.0,120TH AVE NE,25,COLLECTOR
41817,41817,5622,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41818,41818,5623,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41819,41819,1093,DIST,83.0,12.0,DI,2009.0,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR
41820,41820,6299,DIST,18.0,12.0,DI,NaN,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR

In [13]:
# EXTRACTING FEATURES
features = ['FID_WA_Mai', 'TYPE', 'LENGTH', 'DIAMETER', 'MATERIAL', 'INSTYEAR', 'MUSYM', 'Dist_Rail', 'SLP_CLASS', 'FULL_STRNA', 'SPEED', 'FUNC_CLASS']
pipes = df[features]
pipes

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLP_CLASS,FULL_STRNA,SPEED,FUNC_CLASS
0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,2.0,120TH AVE NE,25,MINOR ARTERIAL
1,2,FIRE,2.0,2.0,UNK,1992.0,AgC,7000,1.0,122ND LN NE,25,NEIGHBORHOOD ACCESS
2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,0.0,124TH AVE NE,35,PRINCIPAL ARTERIAL
3,4,FIRE,3.0,6.0,DI,2005.0,Ur,4000,0.0,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL
4,5,FIRE,149.0,8.0,AC,1963.0,Ur,7000,6.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
41816,3963,DIST,1.0,12.0,DI,1971.0,No,9000,0.0,120TH AVE NE,25,COLLECTOR
41817,5622,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41818,5623,DIST,1.0,8.0,DI,2003.0,AgC,10000,2.0,117TH AVE NE,25,NEIGHBORHOOD ACCESS
41819,1093,DIST,83.0,12.0,DI,2009.0,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR
41820,6299,DIST,18.0,12.0,DI,NaN,AgC,5000,0.0,NE 115TH PL,35,COLLECTOR

In [14]:
breaks

,Date,Location,Zone,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,SLOPE,Comment,Year
0,1/8,347 7th Ave,315,NaN,NaN,6,CI,NaN,NaN,NaN,NaN,NaN,2004
1,1/9,696 16th Ave W,315,DIST,NaN,8,AC,NaN,AmC,15000.0,NaN,NaN,2004
2,1/21,740 16th Ave W,315,DIST,NaN,6,AC,NaN,AmC,15000.0,NaN,NaN,2004
3,2/25,10132 NE 59th,285,DIST,261.0,8,AC,1976.0,KpB,7000.0,2.586207,Leak,2004
4,3/16,18th Ave & 6th St.,450,NaN,NaN,12,AC,NaN,NaN,NaN,NaN,Leak,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,10/31/17,10830 NE 68th St,450,NaN,NaN,8,AC,NaN,NaN,NaN,NaN,Full Break,2017
64,5/23/18,11828 NE 75th St,650,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Bead Break,2018
65,5/30/19,11828 NE 75th St,650,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Break at abandoned service tap,2019
66,6/3/19,10425 NE 58th St,450,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Full Break,2019
67,10/2/19,6109 106th Ave NE,450,NaN,NaN,6,AC,NaN,NaN,NaN,NaN,Full Break,2019

In [22]:
# GROUP PIPES BY THEIR UNIQUE ID - NEEDED BECAUSE OF HOW SLOPE BREAKS UP PIPES IN DIFFERENT SLOPE CLASSES
def group_by_id(df):

    grouping = df.groupby('FID_WA_Mai').groups
    unique_pipes = df['FID_WA_Mai'].unique()
    indices = []
    for i in range(len(unique_pipes)):
        pipe = unique_pipes[i]
        val = grouping[pipe][0]
        indices.append(val)
    
    # CALCULATE AVERAGE SLOPES FOR PIPES THAT GOT SPLIT INTO MULTIPLE ROWS
    slopes = df[['FID_WA_Mai', 'SLP_CLASS']]
    slopes = slopes.groupby('FID_WA_Mai')['SLP_CLASS'].mean()
    slopes = pd.Series(slopes)

    filtered = df.loc[indices, 'FID_WA_Mai':'FUNC_CLASS']
    filtered = filtered.drop('SLP_CLASS', axis=1)
    filtered['SLOPE'] = slopes.values

    return filtered

In [23]:
pipes = group_by_id(pipes)
pipes

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
0,1,FIRE,2.0,8.0,UNK,NaN,Ur,6000,120TH AVE NE,25,MINOR ARTERIAL,2.000000
1,2,FIRE,2.0,2.0,UNK,1992.0,AgC,7000,122ND LN NE,25,NEIGHBORHOOD ACCESS,1.000000
2,3,FIRE,1.0,0.0,UNK,NaN,AgC,6000,124TH AVE NE,35,PRINCIPAL ARTERIAL,0.000000
3,4,FIRE,3.0,6.0,DI,2005.0,Ur,4000,LAKE WASHINGTON BLVD NE,35,PRINCIPAL ARTERIAL,0.000000
4,5,FIRE,149.0,8.0,AC,1963.0,Ur,7000,,,,3.888889
...,...,...,...,...,...,...,...,...,...,...,...,...
41801,7742,DIST,15.0,8.0,DI,2017.0,AgD,5000,96TH AVE NE,25,NEIGHBORHOOD ACCESS,0.785714
41804,7743,DIST,296.0,8.0,AC,1943.0,AgC,9000,NE 68TH ST,25,MINOR ARTERIAL,4.000000
41816,3963,DIST,1.0,12.0,DI,1971.0,No,9000,120TH AVE NE,25,COLLECTOR,4.000000
41817,5622,DIST,1.0,8.0,DI,2003.0,AgC,10000,117TH AVE NE,25,NEIGHBORHOOD ACCESS,3.000000
41818,5623,DIST,1.0,8.0,DI,2003.0,AgC,10000,117TH AVE NE,25,NEIGHBORHOOD ACCESS,0.777778

In [39]:
# from sklearn import impute
# impute.

In [21]:
filtered[filtered['LENGTH'] > 10.0]

NameError: name &#39;filtered&#39; is not defined

In [20]:
break_1_8_04 = filtered[(filtered['FULL_STRNA'] == '7TH AVE') & (filtered['INSTYEAR'].equals(2003))]
break_1_8_04

NameError: name &#39;filtered&#39; is not defined

In [204]:
break_1_9_04 = filtered[(filtered['FULL_STRNA'] == '16TH AVE W')] #& (filtered['INSTYEAR'] < 2005) & (filtered['INSTYEAR'] > 2003)]
break_1_9_04 = break_1_9_04[break_1_9_04['INSTYEAR'] == 2004]
break_1_9_04

nearby = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] != 2004) & (filtered['Dist_Rail'] == 15000) & (filtered['DIAMETER'] == 8.0)] 
nearby

similar = filtered[(filtered['DIAMETER'] == 8.0) & (filtered['MATERIAL'] == 'AC') & (filtered['MUSYM'] == 'AmC')]
print(similar['FULL_STRNA'].unique())

similar = similar[(similar['FULL_STRNA'] == '17TH AVE W')]
similar

['10TH AVE' 'KIRKLAND CIR' '4TH ST' '17TH AVE W' '9TH AVE' '5TH AVE'
 '3RD ST' 'KIRKLAND WAY' '8TH LN' '15TH AVE' 'KIRKLAND AVE' 'NE 68TH ST'
 '19TH AVE' '8TH AVE' 'NE 45TH ST' ' ' '1ST ST' 'NE 44TH ST' 'NE 68TH PL'
 '6TH ST' '106TH AVE NE' '6TH AVE' '5TH ST' '7TH AVE' '109TH PL NE'
 '10TH AVE S' '5TH AVE S' 'LAKEVIEW DR' '5TH ST S' '6TH ST S' 'STATE ST S']

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
3851,709,DIST,34.0,8.0,AC,1968,AmC,14000,17TH AVE W,25,NEIGHBORHOOD ACCESS,0.5

In [205]:
break_1_21_04 = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] == 2004)]
break_1_21_04

nearby = filtered[(filtered['FULL_STRNA'] == '16TH AVE W') & (filtered['INSTYEAR'] != 2004)] #& (filtered['Dist_Rail'] == 15000) & (filtered['DIAMETER'] == 6.0)] 


similar = filtered[(filtered['DIAMETER'] == 8.0) & (filtered['MATERIAL'] == 'AC') & (filtered['MUSYM'] == 'AmC')]
print(similar['FULL_STRNA'].unique())

similar = similar[(similar['FULL_STRNA'] == '17TH AVE W')]
similar

['10TH AVE' 'KIRKLAND CIR' '4TH ST' '17TH AVE W' '9TH AVE' '5TH AVE'
 '3RD ST' 'KIRKLAND WAY' '8TH LN' '15TH AVE' 'KIRKLAND AVE' 'NE 68TH ST'
 '19TH AVE' '8TH AVE' 'NE 45TH ST' ' ' '1ST ST' 'NE 44TH ST' 'NE 68TH PL'
 '6TH ST' '106TH AVE NE' '6TH AVE' '5TH ST' '7TH AVE' '109TH PL NE'
 '10TH AVE S' '5TH AVE S' 'LAKEVIEW DR' '5TH ST S' '6TH ST S' 'STATE ST S']

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
3851,709,DIST,34.0,8.0,AC,1968,AmC,14000,17TH AVE W,25,NEIGHBORHOOD ACCESS,0.5

In [197]:
break_2_25_04 = filtered[(filtered['FULL_STRNA'] == 'NE 59TH ST')]
break_2_25_04

# THIS WILL LIKELY NEED TO BE altered in data set

,FID_WA_Mai,TYPE,LENGTH,DIAMETER,MATERIAL,INSTYEAR,MUSYM,Dist_Rail,FULL_STRNA,SPEED,FUNC_CLASS,SLOPE
22011,3634,DIST,1.0,8.0,AC,1976,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,1.000000
22012,3635,DIST,5.0,12.0,AC,1971,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,1.000000
39310,6927,DIST,261.0,8.0,AC,1976,KpB,7000,NE 59TH ST,25,NEIGHBORHOOD ACCESS,2.586207

In [ ]:
break_3_16_04 =